.homepage {
  li {
    padding-top: 1rem;
    justify-content: center;
    font-family: 'Fira Code';
    font-size: 1.7rem;
  }

  li:hover {
    cursor: pointer;
    background-color: #1a83ff;
  }
}

.input-region {
  padding-top: 1rem;
  justify-content: center;
  font-family: 'Fira Code';
  font-size: 1.7rem;
}

.input-box {
}

.input-label {
}
